body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


footer {
  padding-bottom: 3em;
  color: white;
}
footer a {
  color:aliceblue;
  text-align: center;
  text-decoration: none;
  font-family: var(--regular);
}

footer a:hover {
  color:blue;
}

footer a:visited {
  color:blue;
}

